#login{
    background: linear-gradient(15deg, rgb(18, 114, 15) 10%, rgb(255, 250, 230) 115%) no-repeat fixed; /*Define a cor de fundo da página de login e cria um degradê entre as cores.*/
}
.text-login{
    margin-top: 0%; /*Distância da margem superior do texto.*/
    color: white; /*cor do texto.*/
    text-align: center; /*centralização do texto.*/
    font-size: 2rem; /*Tamanho do texto.*/
    font-weight: 600; /*Intensidade do negrito.*/
}
.logo-IFBA {
    margin-top: 6%;
    width: 100%; /* Garante que o container da logo ocupe a largura toda */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
}

.logo-IFBA img {
    height: auto;
    width: 300px;
    display: block; /* Remove espaços indesejados abaixo da imagem */
}

.text-login {
    margin-top: 20px;
    font-weight: bold; /* Opcional: deixa o texto mais visível como na logo */
}

.text-login p {
    margin-bottom: 5px; /* Diminui o espaço entre as duas linhas de texto */
}
.forms {
    display: flex;
    flex-direction: column;
    align-items: center; /* Isso centraliza tudo horizontalmente */
    width: 100%;
}
.form-select{
    margin-top: 20px; /* Espaço acima do seletor */
    margin-bottom: 20px; /* Espaço abaixo do seletor */
    width: 90%; /* Usa porcentagem para não quebrar em telas de celular*/
    max-width: 400px; /* Limita o tamanho máximo para telas grandes*/
    margin-left: auto;
    margin-right: auto;
}
.forms .mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-NMatricula {
    text-align: center; /* Garante que o texto do label fique centralizado */
    color: white;
    font-weight: 500;
    margin-bottom: 10px; /* Um pequeno espaço entre o label e o input */
    display: block; /* Garante que o label ocupe a linha para aceitar alinhamento */
}
.matricula {
    border-radius: 8px;
    height: 40px;
    width: 90%; /* Usa porcentagem para não quebrar em telas de celular*/
    max-width: 500px; /* Limita o tamanho máximo para telas grandes*/
    text-align: center; /* Opcional: centraliza o texto digitado dentro do input */
}
.button-enter{
    margin-top: 10px; /*Define a distância da margem superior do botão.*/
    margin-bottom: 10px; /*Define a distância da margem inferior do botão.*/
    display: flex; /*Define o tipo de exibição do botão.*/
    justify-content: center; /*Centraliza o conteúdo do botão.*/
    margin-left: auto;
    margin-right: auto;
}